{% extends "base.html" %}
{% block title %}
Verwaltung
{% endblock %}
{% block content %}
<section class="ym-gbox">
    <form class="ym-form ym-columnar" action="{{ url_for('admin_page') }}" method="post" enctype="multipart/form-data">
        <div class="ym-fbox-footer">
            <div class="ym-grid">
                <div class="ym-g50 ym-gl">
                    <div class="ym-gbox">
                        <input type="file" name="uploadFile" class="">
                    </div>
                </div>
                <div class="ym-g50 ym-gr">
                    <div class="ym-gbox">
                        <button class="ym-button ym-reply" id="boldButtonInput" type="submit">Hochladen
                        </button>
                        <a href="{{ url_for('execute_page', action='update') }}"
                           class="ym-button ym-success ym-save boldButtonInput conceptButton">Änderungen Übernehmen</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Datei</th>
            <th>Aktionen</th>
            <th>Konzepte</th>
        </tr>
        </thead>
        <tbody>
        {% for file_id, file_name, concept_set in file_list %}
        <tr>
            <td><b>{{ file_id }}</b>
            </td>
            <td>
                <code><big>{{ file_name }}</big></code>
            </td>
            <td>
                <a href="{{ url_for('edit_page', fileName=file_name) }}"
                   class="ym-button ym-success ym-edit ym-small boldButtonInput conceptButton">Bearbeiten</a>
                <a href="{{ url_for('edit_page', removeFile=file_name) }}"
                   class="ym-button ym-success ym-delete ym-small boldButtonInput conceptButton">Löschen</a>
            </td>
            <td>
                {% for concept in concept_set %}
                <a href="{{  url_for('search_page', searchConcept=concept) }}"
                   class="ym-button ym-warning ym-star ym-small boldButtonInput conceptButton">{{ concept }}</a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}