name: CI Binary

on:
  workflow_call:

jobs:
  binary:
    runs-on: ubuntu-latest
    env:
      UV_PROJECT_ENVIRONMENT: .venv
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Create environment and install dependencies
        run: |
          uv venv
          uv sync --extra dev --frozen

      - name: Build binary
        run: uv run --with pyinstaller pyinstaller --onefile server/localserver.py --name campus-wave-linux

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-linux
          path: dist/campus-wave-linux*
